Options +FollowSymLinks
RewriteEngine on

RewriteRule ^inicio/ index.php
RewriteRule ^login/ Vistas/login.php
RewriteRule ^registro/ Vistas/registro.php
RewriteRule ^home/ Vistas/home.php
RewriteRule ^nuevanoticia/ Vistas/agregarnoticia.php