body{
  background-color: #f2f2f2;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    border-radius: 9px 9px 9px 9px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border: 2px solid #dbd9eb;
background-color: #e0e0e0;
padding: 20px;
  }
   
  .login {
    width: 500px;
  }

  .registro {
    width: 500px;
  }

  .titulo{
    display: flex;
    align-items: center;
    justify-content: center;

  }